Header {
    background-color: aqua;
    margin: 12px;
    padding: 12px;
    border-radius: 22px;
    text-align:center;
}

* {
    background-color:aquamarine;
    border-radius: 22px;
}

button {
    margin: 22px;
    padding: 22px;
    
}

h1 {
    text-align: center;
}